<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponarenko API MERN</title>
</head>

<body>
    <header>
        <h1>Welcome to my <span>Hell</span> API MERN |\../|</h1>
        <a href="/article" class="link">Check Article's API</a>
    </header>
    <form method="POST" action="/article" class="article_form">
        <h4 class="form_title">For check functionality</h4>
        <input type="text" name="title" placeholder="Title" maxlength="40" required><br>
        <textarea type="textarea" name="article" placeholder="Article Text" class="article" required></textarea>

        <div class="button-container">
            <button type="submit" class="productOpt addBtn" id="saveProd" value="add">Add</button>
            <input type="reset" class="addBtn reset">
        </div>
    </form>


    <footer>Created by <a href="https://timponarenko.netlify.app/" target="_blank" rel="noopener noreferrer">Tim Ponareko</a></footer>
</body>

<style>
    body {
        display: flex;
        width: 500px;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    img {
        width: 600px;
        border-radius: 20px;
    }

    .link {
        color: green;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        margin-left: 155px;
        border: 1px solid green;
        padding: 10px;
        border-radius: 10px;
    }

    .link:hover {
        color: rgb(75, 204, 75);
        border: 1px solid rgb(75, 204, 75);
    }

    h1 span {
        color: red;
    }

    .form_title {
        text-align: center;
       
    }

    .article_form {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }

    input,
    .article,
    .addBtn {
        padding: 10px;
        margin-top: 10px;
      
    }

    .addBtn {
        margin-left: 10px;
    }

    .article {
        width: 200px;
        min-height: 120px;
        max-width: 200px;
    }
    .button-container {
        margin: 0 auto;
       

    }
    button, .reset {
        cursor: pointer;
        font-weight: 700;
    }
    footer {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: blue;
    }
    footer a:hover {
        text-decoration: none;
        color: green;
    }

</style>

</html>